<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tectria.imrek"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />	
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.Black.NoTitleBar" android:debuggable="true">
        <activity android:name=".SplashScreenLogin"
			android:label="@string/app_name"
			android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IMrekMain" android:theme="@style/IMrek" android:label="@string/app_name">
        </activity>
        <activity android:name=".IMrekChannels" android:label="Channels" android:windowSoftInputMode="stateHidden" android:launchMode="singleTask" android:theme="@style/IMrek">
        </activity>
        <activity android:name=".PreferenceScreen" android:label="IMrek Preferences" android:theme="@style/IMrek">
        </activity>
		<service android:name=".IMrekMqttService" android:label="IMrek MQTT Service">
		</service>
		<receiver android:name=".MainBroadcastReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.tectria.imrek.MESSAGE"></action>
            </intent-filter>
        </receiver>
        <receiver android:name=".ChannelsBroadcastReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.tectria.imrek.MESSAGE"></action>
            </intent-filter>
        </receiver>
        <receiver android:name=".ServiceBroadcastReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.tectria.imrek.MESSAGE"></action>
            </intent-filter>
        </receiver>
    </application>
</manifest>