<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tectria.imrek"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.Black.NoTitleBar" android:debuggable="true">
        <activity android:name=".IMrekSplashLoginActivity"
			android:label="@string/app_name"
			android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IMrekActivity"
        	android:theme="@style/IMrek"
        	android:label="@string/app_name">
        </activity>
        <activity android:name=".FriendsListActivity" android:label="Friends List" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".ConversationListActivity" android:label="Conversation List" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".PreferencesActivity" android:label="IMrek Preferences" android:theme="@style/IMrek">
        </activity>
		<service android:name=".util.MqttService" android:process=":mqttservice" android:label="IMrek MQTT Service"></service>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />	
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-sdk android:minSdkVersion="8"/>
</manifest>